<!--Jhakon Pappoe
1/31/2018
dating home page-->
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="view"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--CSS stylesheet-->
    <link rel="stylesheet" href="styles/styles.css" type="text/css">
    <!--bootstrap CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--bootstrap JavaScript-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
<nav class="navbar bg-light navbar-light">
    <nav class="navbar navbar-light bg-light">
        <a class="nav-item nav-link" href="/328/dating/">Infinity Dating Website</a>
        <a class="nav-item nav-link" href="admin">Admin</a>
    </nav>
</nav>
<div class="container">
    <div id="main">
        <div class="row text-center" id="intro">
            <div class="col-sm-6">
                <h1>Infinity</h1>
                <p>Introduced to you, Infinity. The dating site to connect you with
                    singles that are looking for a special connection. We are already
                    ranked top 10 dating sites for 2018. User's are matched by location,
                    and interests. Stop searching and Find the perfect match here! Get talking
                    to local users in your area now!</p>
                <h2>Testimonials</h2>
                <hr>
                <p class="testimonials">"I have found my best friend and my true Love. I have found my match on
                    this site. It was an instant connection. Thank you Infinity. Good luck
                    to all who are looking for true and real love, I am blessed. Best wishes and
                    success to your site!" -Yuriy V.</p>
                <p class="testimonials">"I came across the most amazing man. You know who you are baby!! I wish
                    all of you luck. If you can find someone half as good as what I have found
                    you will very happy. Gracias!" -Carla L.</p>
                <hr>
                <form action="./personal">

                <button type="submit" value="submit" class="btn btn-primary" id="create">Create a
                    profile
                </button>
                </form>
            </div>

            <div class="col-sm-6">
                <img src="images/dating.jpg" class="home-image" id="pics" alt="dating-image">
            </div>
        </div>
    </div>
</div>
</body>
</html>