h1,h2{
    text-align:center;
}
.testimonials{
    color:coral;
    font-style: italic; !important;
}
p{
    font-style: normal;
}

img{
    height: -webkit-fill-available !important;
    width: -webkit-fill-available !important;
}

div#main{
    border: darkgray 1px solid;
}

#row,img,p{
    margin: 10px;
    padding: 10px;
}

button{
    float: right;
}